* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.897);

}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

.grp1 {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.symbol {
    color: white;
    text-align: center;
    background-color: yellow;
    border-radius: 20%;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 1rem;
    background: radial-gradient(circle at 30% 40%, #3a4b5d 0%, transparent 30%),
        radial-gradient(circle at 70% 60%, #4d5f6e 0%, transparent 40%),
        radial-gradient(circle at 50% 50%, #2b3a49 0%, #1e2a36 100%);
    height: 78vh;
    width: 75vw;
    overflow: hidden;
    position: relative;
    display: flex;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    width: 100%;
    margin-right: 1rem;
}

.sidebar {
    display: flex;
    justify-content: right;
    background-color: white;
    width: 25vw;
    height: 84vh;
    margin-top: 2vh;
    margin-right: 1%;
    border-radius: 1rem;
}

.small {
    background-color: rgba(33, 21, 201, 0.733);
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
}

.rectangle {
    position: absolute;
    background: radial-gradient(circle at 30% 40%, #804311 0%, transparent 30%),
        radial-gradient(circle at 70% 60%, #915918 0%, transparent 40%),
        radial-gradient(circle at 50% 50%, #b99472 0%, #5c3503 100%);
    height: 7rem;
    width: 13rem;
    bottom: 4%;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circle {
    position: absolute;
    border-radius: 50%;
    left: 45%;
    top: 40%;
    height: 12vh;
    width: 12vh;
}

.circle-inside {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
}

.name {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    left: 1.5%;
    bottom: 2.5%;
}

.name-inside {
    position: absolute;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 8%;
    left: 5%;
}

.below {
    position: absolute;
    bottom: 2%;
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
}

.below .detail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}
