* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eee;
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #2e2e2e;
}

/* Navbar */
.navbar {
  padding-left: 5%;
  width: 96%;
  gap: 1rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Logo */
.logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 229, 229);
  height: 6vh;
  width: 70px;
  background-color: silver;
}

/* Search Bar */
.search-bar {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  background-color: #444;
  border: 1px solid rgb(255, 255, 255);
  width: 39vw;
  height: 5.6vh;
}

.search-bar input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 1vw;
  font-size: 12px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

/* Responsive Search */
.responsive-search {
  display: none;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: #444;
  padding: 0.5rem 1rem;
  z-index: 20;
}

.responsive-search.active {
  display: block;
}

.search-bar.responsive {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.search-bar.responsive input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
}

.search-bar.responsive button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar.responsive img#closeSearch {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* Menu Toggle */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
}

/* Nav Links */
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #f75454;
}

.nav-links span {
  margin-left: 10px;
}

/* Status Bar */
.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b01c1c;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #b01c1c;
  color: white;
  padding: 0.5vh 0;
  font-weight: bold;
}

.status-bar p {
  width: 60vw;
  text-align: left;
}

.status-bar-buttons {
  gap: 5px;
  display: flex;
  align-items: center;
}

.status-bar-buttons button {
  cursor: pointer;
  height: 4vh;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.status-bar-resolution {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  margin-left: 1vw;
}

.status-bar-resolution button {
  cursor: pointer;
}

#searchResponsive {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
}

.left,
.right {
  padding: 20px;
}

.left {
  min-width: 300px;
  width: 28%;
}

.right {
  flex: 2;
  background-color: white;
}

.square {
  width: 35vh;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #eee;
  height: 37vh;
}

/* .photo-upload,
.drawing-upload */
.form-group {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}

.image-upload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  background-color: white;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.upload-placeholder {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  flex-direction: column;
  background-color: #b8b8b8b6;
}

.cover {
  width: 100%;
  height: 65vh;
  background-color: grey;
  padding-left: 5%;
}

#lal label {
  color: #b01c1c;
}

.question {
  display: flex;
  justify-content: space-between;
}

.radio {
  margin-left: 10px;
}

.plus {
  height: 0.8rem;
  font-size: xx-large;
}

.square .up,
.down {
  padding-left: 3%;
}

.up {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
}

.down {
  font-size: small;
  margin-top: 4%;
}

.divider {
  background-color: #eee;
  height: 2.4rem;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  width: 90%;
}

.tag {
  font-weight: bold;
}

.notes span {
  font-style: italic;
  font-weight: bold;
}

.notes textarea {
  height: 25vh;
  width: 90%;
  resize: none;
  background-color: #eee;
}
.dynamic-section {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.dynamic-section .remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  /* background-color: red; */
  color: black;
  padding: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 20px;
}

.container button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background-color: #b8b8b8b6;
}

@media screen and (max-width: 1024px) {
  .left,
  .right {
    width: 100%;
    min-width: 100%;
  }

  .cover {
    height: 25vh;
    width: 100%;
  }

  .container {
    padding-left: 0;
  }
  button {
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    min-width: 100%;
  }

  .image-upload {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    width: 100%;
    padding-right: 2%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 10;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .logo {
    margin-left: 1rem;
  }

  .status-bar {
    width: 100%;
  }

  .search-bar {
    display: none;
  }

  #searchResponsive {
    display: inline;
    position: absolute;
    right: 12vw;
    cursor: pointer;
  }

  .status-bar-resolution {
    margin-left: 3vw;
  }

  .responsive-search {
    display: none;
  }

  .responsive-search.active {
    display: block;
  }

  .responsive-search {
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #444;
    padding: 0.5rem 1rem;
    z-index: 20;
  }

  .search-bar.responsive {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .search-bar.responsive input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
  }
  .status-bar p {
    margin-left: 1vw;
  }
  .search-bar.responsive button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-bar.responsive img#closeSearch {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .form-group,
  .photo-upload,
  .drawing-upload {
    margin-bottom: 15px;
  }

  input[type="text"],
  textarea,
  select {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .image-upload {
    height: 100%;
  }

  .upload-placeholder {
    height: 18vh;
  }

  .square {
    height: 30vh;
    width: 100%;
  }

  .divider {
    width: 100%;
  }

  #photo {
    width: 8rem;
  }

  .image-upload p {
    margin-left: 1.5rem;
  }

  .notes textarea {
    width: 100%;
  }

  .status-bar p {
    margin-left: 1vw;
  }
}
