*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    grid-template-areas:
    "header header header"
    "sidebar navigation ads"
    "sidebar main ads"
    "footer footer footer";
}

.container div{
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
}
.header{
    grid-area: header;
    background-color: yellow;
}
.navigation{
    grid-area: navigation;
    background-color: lightcoral;
}
.sidebar{
    grid-area: sidebar;
    background-color: lightblue;
}
.main{
    grid-area: main;
    background-color: lime;
}
.ads{
    grid-area: ads;
    background-color: mediumturquoise;
}
.footer{
    grid-area: footer;
    background-color: orange;
}


@media (max-width: 1023px){
    .container{
        grid-template-areas: 
        "header header"
        "navigation navigation"
        "sidebar main"
        "ads footer";
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 599px){
    .container{
        grid-template-areas:
        "header"
        "navigation"
        "main"
        "sidebar"
        "ads"
        "footer";
        grid-template-columns: 1fr;
    }
}

